<!--
  Title: about.component.html
  Author: Richard Krasso
  Modified By: Patrick Cuauro
  Date: 09/30/2023
  Description: HTML for the app component
-->
<div fxLayout="row wrap">
    <div fxFlex>
        <div fxLayout="column">

            <div>

                <img style="width: 200px;"
                    src="./assets/tulip-low-resolution-logo-color-on-transparent-background.png" />
            </div>
        </div>
        <div fxFlex>
            <h1 class="blue" style="padding-left: 20px;">Tulip Corp.</h1>

            <p style="padding-left: 20px;">
                Tulip Corp. is a web development company created by Patrick Cuauro for the purpose of demonstrating
                that magic can be created with the right tools and a little bit of imagination. Also after find out our
                accountant
                to be a Butterbeer addict that spent the money of the treasury in a brand new wand because misplaced his
                at the local bar,
                with his friend the one with he plays Quidditch every Tuesday afternoon at Hogwarts, he decided it was a
                good idea
                to make a huge loan with a lender with a very high interest rate, because he though higher interest
                meant
                somehow better than low, leaving us with a huge debt for years, we realized we were not the only ones
                with financial
                problem, and also Butterbeer addiction! So, we begin a journey to discover enigmatic artifacts around
                the world to
                help wizards and charging them as low as possible, because we are not filthy capitalists! But we love
                Butterbeer!!</p>
            <p style="padding-left: 20px;">Some adventures helped us to practice our spells to defend ourselves from
                hunger, rain, and mystic weird
                creatures.
                We finally found the formula to use to amortize a loan based on the interest, the time, and the initial
                amount of Butterbeer, I mean money! All the adventures left us with a lesson to learn besides learning
                spells
                and avoiding Butterbeer! We also must learn how to be financially responsible, helping others to realize
                contracts can
                be broken with forget spells, learn from a famous wizard and a man with obsessions with spiders, that we
                definitely not used with our loaner, of course. And to conclude, we decided to make the loan app
                calculator public and
                free to help others to measure their unfortunate financial crisis solutions.

            </p>
            <em style="padding-left: 20px;">Created by: Patrick E Cuauro Nava from the House of HufflePuff</em>
        </div>
    </div>