<!--
  Title: about.component.html
  Author: Richard Krasso
  Modified By: Patrick Cuauro
  Date: 09/30/2023
  Description: HTML for the app component
-->
<div fxLayout="row wrap">
    <div fxFlex>
        <div fxLayout="column">

            <div>

                <img style="width: 200px;"
                    src="../../assets/tulip-low-resolution-logo-color-on-transparent-background.png" />
            </div>
        </div>
        <div fxFlex>
            <h1 class="blue" style="padding-left: 20px;">Tulip Corp.</h1>

            <p style="padding-left: 20px;">
                Tulip Corp. is a web development company created by Patrick Cuauro for the purpose of demonstrating
                that magic can be created with the right tools and a little bit of imagination.
            </p>
            <em style="padding-left: 20px;">Created by: Patrick E Cuauro Nava from the House of HufflePuff</em>
        </div>
    </div>