<div fxLayout="column" fxLayoutGap="20px">
    <div fxLayout="row">
        <div class="loan-form" fxFlex>
            <mat-card class="mat-elevation-z8">
                <mat-card-title>Loan Terms</mat-card-title>
                <mat-card-content>
                    <form fxLayout="column" fxLayoutGap="16px">
                        <mat-form-field fxFlex>
                            <mat-label>Principal</mat-label>
                            <input type="number" name="txtPrincipal" required id="txtPrincipal" matInput
                                formControlName="principal" />
                        </mat-form-field>
                        <mat-form-field fxFlex appearance="fill">
                            <mat-label>Interest Rate</mat-label>
                            <input type="number" name="txtInterestRate" required id="txtInterestRate" matInput
                                formControlName="interestRate" />
                        </mat-form-field>
                        <mat-form-field fxFlex appearance="fill">
                            <mat-label>Number of Payments</mat-label>
                            <input type="number" name="txtNumberOfPayments" required id="txtNumberOfPayments" matInput
                                formControlName="numberOfPayments" />
                        </mat-form-field>

                    </form>
                </mat-card-content>
                <button type="submit" mat-raised-button color="primary">Calculate the payments</button>
            </mat-card>
        </div>
        <div fxLayout="row">
            <div class="loan-form" fxFlex>
                <mat-card class="mat-elevation-z0">
                    <mat-card-title>Total Loan Amount</mat-card-title>
                    <mat-card-content>
                        <h1 style="font-size: x-large; text-align: center;">Amount in Dollars</h1>
                    </mat-card-content>
                </mat-card>
                <mat-card class="mat-elevation-z0">
                    <mat-card-title>Monthly payments</mat-card-title>
                    <mat-card-content>
                        <h1 style="font-size: x-large; text-align: center;">Amount in Dollars</h1>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>




</div>


<!-- A = P (r (1 + r)^n) / ((1 + r)^n – 1)
A = Payment Amount per Period
P = Initial Principal (loan amount)
r = Interest Rate per Period
n = Total Number of Payments or Periods, in months
-->