.background-brown {
  background-color:rgb(186, 152, 0);
}
.background-amber {
    background-color:rgba(251, 255, 7, 0.275);
}
.background-brown-dark {
    background-color:rgb(115, 94, 0);
    color: white;
  }
.black-background {
    background-color: black;
    color: white;
}